<div class="custom-body" style="overflow: hidden">
  <img
    appAttributeDirective
    src="/assets/image/2.jpg"
    style="
      position: absolute;
      z-index: 0;
      width: 100%;
      height: 100%;
      object-fit: cover;
    "
  />
  <mat-dialog-actions>
    <button class="signin-button" mat-raised-button (click)="redirect()">
      Sign-in
    </button>
  </mat-dialog-actions>
  <div class="container">
    <form [formGroup]="formGroup" class="form-container">
      <div class="holder">
        <label>name</label>
        <input type="text" formControlName="name" />
      </div>
      <div class="holder">
        <label>last name</label>
        <input type="text" formControlName="lastName" />
      </div>
      <div class="holder">
        <label>age</label>
        <input type="text" formControlName="age" />
      </div>
      <div class="holder" id="bottom-one">
        <label>address</label>
        <input type="text" formControlName="address" />
      </div>

      <button
        [disabled]="formGroup.invalid"
        class="button-submit"
        (click)="submitForm()"
      >
        Submit
      </button>
    </form>
    <button [disabled] = "!isSubmit" style = "background-color : white ; padding : 5px 20px 5px 20px ;" (click) = "showData()">PeeP</button>
    <div *ngIf = "isShowData" style="color: white">{{ this.formGroup.value | myPipe }}</div>
  </div>
</div>
