.form-container {
    width : 100% ;
    padding-top : 10px ;
    padding-bottom : 10px ;
    display : flex ;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border : 2px solid black ;
    border-radius : 3px ;
    position : relative ;
    background-color: white;
}
.container {
    width : 30% ;
    height : auto ;
    top : 50% ;
    left : 50% ;
    transform : translateY(-50%)  translateX(-50%) ;
    /* margin : auto ; */
    position : relative ;
    display : flex ;
    flex-direction: column;
    justify-content: center ;
    align-items: center;
}
input {
    border : 1px solid black 
}

.holder {
    width : 80% ;
    display : flex ;
    justify-content: space-between;
    margin-top : 10px ;
}

#bottom-one {
    margin-bottom : 10px ;
}

.button-submit {
    display : flex ; 
    justify-content: center;
    background-color : rgb(60, 131, 246) ;
    color : white ;
    border-radius : 5px ;
    padding : 5px 20px 5px 20px ;
}

.button-submit:hover { 
    background-color : rgb(4, 82, 208) ;
    transition-property: background-color ;
    transition : 0.1s ease ;
}

.signin-button{
    position: absolute;
    top: 0px;
    left: 0px;
}

.custom-body {
    width : 100% ;
    height : 100% ;
    /* background-image: url(/assets/image/1.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position : 50% 70% ; */
}